*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.container{
	width: 1340px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-container{
	display: flex;
	flex-wrap: nowrap;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-center{
	align-items: center;
}
.flex-item1{
	width: 8.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item2{
	width: 16.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item3{
	width: 25%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item4{
	width: 33.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item5{
	width: 41.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item6{
	width: 50%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item7{
	width: 58.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item8{
	width: 66.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item9{
	width: 75%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item10{
	width: 83.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item11{
	width: 91.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item12{
	width: 100%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	padding: 15px 0;
	background-color: white;
	position: fixed;
	transition: all 0.5s;
    z-index: 997;
    box-shadow: 0px 0 18px rgb(55 66 59 / 8%);  
    top: 0;
    right: 0;
    left: 0;
}
.mentor h1 a{
	color: #5fcf80;
	text-decoration: none;
	font-weight: 600;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
}
.nav-list{
	display: flex;
	justify-content: end;
	padding: 10px 0;
}
.nav-list .list li{
	display: inline-block;
	list-style: none;
}
.nav-list .list li a{
	text-decoration: none;
	padding: 0 15px;
	font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #37423b;
    transition: 0.3s;
}
.nav-list .btn a{
	text-decoration: none;
    padding: 8px 25px;
    margin-left: 22px;
    background: #5fcf80;
    color: #fff;
    border-radius: 50px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.nav-list .btn a:hover{
	background-color: #3ac162;
}
.nav-list .list li a.active{
	color: #5fcf80;
}
.nav-list .list li a:hover{
    color: #5fcf80;	
}
.nav-list .list li a i{
	color: rgb(147 145 145 / 94%);
	padding-left: 5px;
}
.nav-list .list li a:hover i{
    color: #5fcf80;	
}
/*font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
.banner-sec{
	background: linear-gradient(#00000014,#07060696), url("../assets/hero-bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	padding: 88px 0;
}
.banner-items{
	padding: 120px 0;

}
.banner-items h1{
	color: #fff;
	font-size: 50px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
    line-height: 60px;
}
.banner-items h2{
	color: #eee;
	font-size: 24px;
	padding-bottom: 40px;
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;
}
.banner-items .btn a{
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 15px 40px;
	border-radius: 25px;
	transition: all 0.5s ease;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.banner-items .btn a:hover{
	background-color: #55c255;
	border: none;
}
.content{
	padding: 50px 0;
}
.content-items1 h1{
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-weight: 600;
	margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.content-items1 p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #444444;
	padding-top: 15px;
    padding-bottom: 20px;
}
.content-items1 ul li{
	list-style: none;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #444444;
}
.content-items1 ul li i{
	font-size: 20px;
    padding-right: 4px;
    color: rgb(95, 207, 128);
}
.image img{
	/*height: 54vh;*/
	width: 100%;
	height: auto;
}
.count{
	padding: 30px 0;
	background-color: rgb(246, 247, 246);
}
.count-items h1{
	text-align: center;
	font-size: 48px;
    color: rgb(95, 207, 128);
    font-weight: 700;
}
.count-items h6{
	text-align: center;
	font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(55, 66, 59);
}
.content1{
	padding: 50px 0;
}
.content-item1{
	padding: 30px;
    background: rgb(95, 207, 128);
    border-radius: 4px;
    color: rgb(255, 255, 255);
}
.content-item1 h1{
	color: #fff;
	font-size: 34px;
	font-weight: 700;
	font-family: Raleway, sans-serif;
}
.content-item1 p{
	color: #fff;
	padding-top : 30px;
	padding-bottom: 45px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.content-item1 .btn{
	text-align: center;
}
.content-item1 .btn a{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 16px;
	background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    transition: all 0.4s ease-in-out 0s;
}
.content-item1 .btn a:hover{
	color: rgb(95, 207, 128);
    background: rgb(255, 255, 255);
}
.content-item1 .btn a i{
	padding-left: 8px;
	line-height: 30px;
	font-size: 14px;
}
.content-item2{
	border: 1px solid rgb(238, 240, 239);
	padding: 0 15px;
	min-height: 350px;
}
.content-item2 h1{
	text-align: center;
	padding: 30px 0;
}
.content-item2 h1 i{
	color: rgb(95, 207, 128);
	background: rgb(236, 249, 240);
	font-size: 32px;
	border-radius: 50px;
	width: 65px;
	height: 65px;
	line-height: 2;
}
.content-item2 h2{
	text-align: center;
	font-size: 20px;
	font-family: Raleway, sans-serif;
	color: #444444;
}
.content-item2 p{
	text-align: center;
	padding: 20px 0;
	font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #848484;
}
.content2{
	padding: 20px 0;
}
.content2 .icon1{
	padding: 20px 20px;
	border: 1px solid rgb(238, 240, 239);
	margin: 15px 0;
}
.content2 .icon1:hover{
	border-color: rgb(95, 207, 128);
}
.content2 .icon1 h3 a{
	text-decoration: none;
	color: rgb(55, 66, 59);
	font-family: Raleway, sans-serif;
	font-size: 16px;
    transition: all 0.3s ease 0s;
}
.content2 .icon1:hover a{
	color: rgb(95, 207, 128);;
}
.content2 .icon1 h3 i{
	padding-right: 10px;
	font-size: 30px;
	vertical-align: middle;
}
#one{
	color: #ffbb2c;
}
#two{
	    color: #5578ff;
	}
#three{
	color: #e80368;
}
#four{
	    color: #e361ff;
}
#five{
	color: #47aeff;
}
#six{
	    color: #ffa76e;
}
#seven{
	    color: #11dbcf;
}
#eight{
	color: #4233ff;
}
#nine{
	    color: #b2904f;
}
#ten{
	color: #b20969;
}
#eleven{
	color: #ff5828;
}
#twelve{
	color: #29cc61;
}
.content3{
	padding: 80px 0;
}
.content3 .content3-item{
	border: 1px solid #eef0ef;
	margin: 50px 0;
}
.content3-item .webdev{
	display: flex;
	justify-content: space-between;
	margin: 15px 15px;
}
.content3-item .webdev h4{
	padding: 7px 14px;
	color: white;
	background-color: #5fcf80;;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
.content3-item .webdev h3{
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #37423b;
	}
.content3-item .webdesign h1 a{
	margin: 0 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: #37423b;
    transition: 0.3s;
}
.webdesign h1 a:hover{
	color: #5fcf80;;
}
.content3-item .webdesign p{
	font-size: 14px;
    color: #777777;
	padding: 15px 0;
	margin: 0 15px;
	border-bottom: 1px solid #eef0ef;
}
.content3-item .comment{
	display: flex;
	justify-content: space-between;
	margin: 0 15px;
	padding: 10px 0;
}
.content3-item .comment h3{
	padding-left: 10px;
    padding-right: 10px;
}
.content3-item .comment h3 img{
	border-radius: 50%;
	height: 50px;
	width: 50px;
vertical-align: middle;
	}
	.comment h3 span{
		padding-left: 10px;
		font-weight: 600;
    font-size: 16px;
    color: #5a6c60;
	}
	.comment1 span{
		padding-right: 10px;
		font-weight: 600;
    vertical-align: middle;
    font-size: 18px;
    color: #657a6d;
	}
	.comment1 i{ 
		vertical-align: middle;
		font-size: 18px;
    color: #657a6d;
    padding-right: 5px;
	}
.commentline{
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	align-items: center;
}
.content3-item .comment h3 i{
	padding: 15px 10px;
	vertical-align: middle;
	font-size: 18px;
    color: #657a6d;
}
.sec-title{
	position: relative;
}
.content3 .sec-title h5{
margin-left: 15px;
font-family: 'Poppins', sans-serif;
font-size: 14px;
letter-spacing: 2px;
color: #AAAAAA;
}
.content3 .sec-title h1{
	margin-left: 15px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	padding: 10px 0;
	color: #37423b;
}
.sec-title h5::after{
    content: "";
    width: 120px;
    height: 1px;
    background: #9ae1af;
    position: absolute;
    top: 8px;
    left: 110px;
}
.authors .author1{
	border: 1px solid #6969692b;
}
.authors .author1 p{
	text-align: center;
	padding: 10px 0;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}
.author1 h2{
	text-align: center;
	padding-top: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 1.2;
    color: #444444;
}
.author1 h4{
	text-align: center;
	font-size: 13px;
	color: #444444;
}
.author1 p a i{
	color: #7e9486;
	font-size: 20px;
	padding: 0 5px;
	padding-bottom: 30px;
}
.author1 p a i:hover{
	color: #5fcf80;
}
.contact{
	padding: 60px 0;
	background: #f9faf9;
	margin-top: 80px;
}
.contact-info{
	margin-right: 20px;
}
.contact-info h3{
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
	color: #37423B;
}
.contact-info address{
	padding: 15px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #777777;
}
.links ul{
	list-style: none;
}
.services ul{
	list-style: none;
}
.links-services{
	display: flex;
	justify-content: space-around;
	margin-right: 20px;
}
.links a{
	text-decoration: none;
	color: #777777;
    transition: 0.3s;
    line-height: 40px;
    font-size: 14px;
}
.services a{
	text-decoration: none;
	color: #777777;
    transition: 0.3s;
    line-height: 40px;
}
.links a:hover{
	color: #55c255;
}
.links h4{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding-bottom: 12px;
    font-weight: bold;
    color: rgb(68, 68, 68);
}
.services h4{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding-bottom: 12px;
    font-weight: bold;
    color: rgb(68, 68, 68);
}
.services a:hover{
	color: #55c255;
}
.links ul li i{
	color: rgb(95, 207, 128);
	font-size: 10px;
	padding-right: 5px;
}
.services ul li i{
	color: rgb(95, 207, 128);
	font-size: 10px;
	padding-right: 5px;
}
.newsletter{
	margin-right: 20px;
}
.newsletter h4{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding-bottom: 12px;
    font-weight: bold;
    color: rgb(68, 68, 68);
}
.newsletter p{
	  padding-top: 20px;
	  color: #37423B;
	  padding-bottom: 30px;
	  font-family: 'Open Sans', sans-serif;
	  font-size: 15px;
}
.newsletter input[type=email]{
	border: 1px solid #e0e5e2;
    padding: 4px 8px;
    border-radius: 50px;
    width: 380px;
    height: 52px;
}	  
.btn1{
	display: flex;
	justify-content: end;
}
.newsletter .btn1 a{
	color: white;
	text-decoration: none;
	text-align: center;
	border: 1px solid rgb(95, 207, 128);
	background: rgb(95, 207, 128);
	border-radius: 50px;
	 padding: 15px 25px;
    margin-top: -52px;
    transition: 0.3s;
    margin-left: -25px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.newsletter .btn1 a:hover{
	background: rgb(58, 193, 98);
}
.footer{
	    background: #eef0ef;
	    padding: 30px 0;
}	
.copyright h3{
	font-size: 14px;
	color: #37423B;
}
.copyright h4{
	font-size: 13px;
	color: #37423B;
}
.copyright h3 strong{
	font-weight: bolder;
	color: rgb(55, 66, 59);
	font-size: 16px;
}
.copyright h4 a{
	text-decoration: none;
	color: rgb(58, 193, 98);
}
.copyright h4 a: hover{
	    color: rgb(95, 207, 128);
}
.nav-list1{
	display: flex;
	justify-content: end;
}
.nav-list1 ul li{
	display: inline-block;
	list-style: none;
	padding: 0 2px;
}
.nav-list1 ul li a i{
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgb(95, 207, 128);
	text-align: center;
	line-height: 2.5;
}
.nav-list1 ul li a i:hover{
	background: rgb(58, 193, 98);
}
.uparrow{
	position: fixed;
	text-align: center;
	color: #fff;
    right: 20px;
    bottom: -2px;
    z-index: 996;
    background: #5fcf80;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
.uparrow i{
	line-height: 2.5;
}
.uparrow:hover{
	background: rgb(58, 193, 98);
}

/*drop down menu*/

.list .drop-1 .drop-2 li{
	display: block;
}
.list .drop-1{
	position: relative;
}
.list .drop-1 .drop-2{
	position: absolute;
	top: 40px;
	left: 0;
	width: 200px;
	border-radius: 4px;
	background-color: #fff;
}
.list .drop-1 .drop-2 a{
	display: inline-block;
	padding: 10px 20px;
}
.drop-1 .drop-2{
	visibility: hidden;
	opacity: 0;
	transform: translateY(40px);
	transition: all 0.5s ease;
	box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.drop-1:hover .drop-2{
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
}
.list .drop-1 .drop-2 li a i{
	padding-left: 20px;
}
.list .drop-3 .drop-4 li{
	display: block;
}
.list .drop-3{
	position: relative;
}
.list .drop-3 .drop-4{
	position: absolute;
	top: 0px;
	left: 200px;
	width: 200px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.list .drop-3 .drop-4 a{
	display: inline-block;
	padding: 10px 20px;
}
.drop-3 .drop-4{
	visibility: hidden;
	opacity: 0;
	transform: translateY(40px);
	transition: all 0.5s ease;
}
.drop-3:hover .drop-4{
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
}
