/*font-family: 'Raleway', sans-serif;          
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Open Sans', sans-serif;*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}
.container{
	width: 1340px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-container{
	display: flex;
	flex-wrap: nowrap;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-center{
	align-items: center;
}
.flex-item1{
	width: 8.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item2{
	width: 16.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item3{
	width: 25%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item4{
	width: 33.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item5{
	width: 41.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item6{
	width: 50%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item7{
	width: 58.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item8{
	width: 66.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item9{
	width: 75%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item10{
	width: 83.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item11{
	width: 91.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item12{
	width: 100%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	padding: 15px 0;
}
.mentor h1 a{
	color: #55c255;
	text-decoration: none;
	font-weight: 600;
	font-size: 35px;
}
.nav-list{
	display: flex;
	justify-content: end;
}
.nav-list .list li{
	display: inline-block;
	list-style: none;
}
.nav-list .list li a{
	text-decoration: none;
	color: black;
	font-size: 16px;
	padding: 0 15px;
}
.nav-list .btn{
	margin-left: 10px;
}
.nav-list .btn a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
    background-color: #55c255;
    border-radius: 25px;
    padding: 8px 15px;

}
.nav-list .btn a:hover{
	background-color: green;
}
.nav-list .list li a.active{
	color: #55c255;
}
.nav-list .list li a:hover{
    color: #55c255;	
}
.nav-list .list li a i{
	color: rgb(147 145 145 / 94%);
	padding-left: 5px;
}
/*font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
.banner-sec{
	background: linear-gradient(to top, #00000014,#07060696), url("../assets/hero-bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	padding: 60px 0;
}
.banner-items{
	padding: 120px 0;
}
.banner-items h1{
	color: #fff;
	line-height: 65px;
	font-size: 60px;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;

}
.banner-items p{
	color: #fff;
	font-size: 22px;
	padding-bottom: 40px;
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;
}
.banner-items .btn a{
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 15px 40px;
	border-radius: 25px;
	transition: all 0.5s ease;
}
.banner-items .btn a:hover{
	background-color: #55c255;
	border: none;
}
.content{
	padding: 50px 0;

}
.content-items1 ul li{
	list-style: none;
	padding: 8px 0;
}
.content-items1 ul li i{
	color: #55c255;
	padding-right: 5px;
}
.image img{
	/*height: 54vh;*/
	width: 100%;
	height: 400px;
}
.content-items1 p{
	padding-top: 15px;
}
.count{
	padding: 50px 0;
	background-color: #8080801f;

}
.count-items h1{
	color: #55c255;
	font-weight: 600;
	font-size: 40px;
	text-align: center;
}
.count-items h6{
	text-align: center;
}
.content1{
	padding: 50px 0;
	
}

.content-item1{
	border: 1px solid #55c255a8;
	background-color: #55c255c7;
	padding: 30px 30px;
	/*margin: 20px 20px;*/
}
.content-item1 h1{
	color: #fff;
	font-size: 38px;
	
}
.content-item1 p{
	color: #fff;
	padding-top : 30px;
	padding-bottom: 45px;
	font-size: 18px;
	
}
.content-item1 .btn{
	text-align: center;
}
.content-item1 .btn a{
	color: #fff;
	background: linear-gradient(#00800017,#80808021);
	text-align: center;
	border: 1px solid #20b2aa3d;
	border-radius: 35px;
	text-decoration: none;
	padding: 10px 35px;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 18px;
}
.content-item1 .btn a i{
	padding-left: 10px;
}
.content-item2{
	border: 1px solid #80808030;
	padding: 0 15px;
	min-height: 350px;


}
.content-item2 h1{
	text-align: center;
	padding-bottom: 30px;
	padding-top: 40px;

}
.content-item2 h1 i{
	color: green;
	background-color: #0080001a;
	/*padding: 25px 25px;*/
	height: 60px;
	width: 60px;
	padding: 15px 0;
	border: 1px solid #0080001a;
	border-radius: 50%;
}
.content-item2 h2{
	text-align: center;
}
.content-item2 p{
	text-align: center;
	padding: 30px 0;
	font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
.content2{
	padding: 20px 0;
}
.content2 .icon1{
	
	padding: 20px 20px;
	border: 1px solid #80808030;
	margin: 15px 0;
}
.content2 .icon1:hover{
	border: 1px solid green;
}
.content2 .icon1 h3 a{
	text-decoration: none;

}
.content2 .icon1 h3 a:hover{
	color: green;
}
.content2 .icon1 h3 i{
	padding-right: 10px;
	font-size: 30px;
	vertical-align: middle;
}
#one{
	color: orange;
}
#two{
	color: darkblue;
}
#three{
	color: red;
}
#four{
	color: purple;
}
#five{
	color: blue;
}
#six{
	color: orange;
}
#seven{
	color: skyblue;
}
#eight{
	color: darkblue;
}
#nine{
	color: saddlebrown;
}
#ten{
	color: darkred;
}
#eleven{
	color: darkorange;
}
#twelve{
	color: lightgreen;
}
.content3{
	padding: 80px 0;
}
.content3 .content3-item{
	border: 1px solid #6969692b;
	margin: 50px 0;


}
.content3-item .webdev{
	display: flex;
	justify-content: space-between;
	margin: 15px 15px;
}
.content3-item .webdev h4{
	border: 1px solid #55c255;
	padding: 5px 10px;
	color: white;
	background-color: #55c255;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;

}
.content3-item .webdev h3{
     font-family: sans-serif;
     font-weight:550;
	}
.content3-item .webdesign h1 a{
	margin: 0 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: black;

}

.webdesign h1 a:hover{
	color: #55c255;
}
.content3-item .webdesign p{
	/*margin: 15px 15px;*/
	font-family: sans-serif;
	/*font-size: 20px;*/
	font-weight: lighter;
	color: gray;
	padding: 15px 0;
	margin: 0 15px;
	border-bottom: 1px solid #6969692b;

}
.content3-item .comment{
	display: flex;
	justify-content: space-between;
	margin: 0 15px;
	padding: 10px 0;
	
}
.content3-item .comment h3 img{
	border-radius: 50%;
	margin-right: 10px;
	height: 50px;
	width: 50px;
	color: gray;
vertical-align: middle;
	}


.content3-item .comment h3 i{
	padding: 15px 10px;
	vertical-align: middle;
	color: gray;
}
.content3 .sec-title h5{
margin-left: 15px;
font-family: sans-serif;
font-size: 16px;
letter-spacing: 2px;
color: #69696952;

}
.content3 .sec-title h1{
	margin-left: 15px;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 36px;
	padding: 10px 0;
}
.sec-title h5::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px;
}
.authors .author1{
	border: 1px solid #6969692b;
}
.authors .author1 p{
	text-align: center;
	padding: 10px 0;
	font-family: sans-serif;
	color: dimgray;
}
.author1 h2{
	text-align: center;
	padding-top: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}
.author1 h4{
	text-align: center;
	font-weight: lighter;
}

.author1 p a i{
	color: dimgray;
	font-size: 20px;
	padding: 0 5px;
	padding-bottom: 30px;
}
.author1 p a i:hover{
	color: #55c255;
}
.contact{
	padding: 60px 0;
	background-color: #8080800f;
	margin-top: 80px;
}
.contact-info{
	margin-right: 20px;
}
.contact-info h3{
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}
.contact-info address{
	padding: 15px 0;
	font-family: 'Raleway', sans-serif;
}
.links ul{
	list-style: none;
}
.services ul{
	list-style: none;
}
.links-services{
	display: flex;
	justify-content: space-around;
	margin-right: 20px;
}
.links a{
	text-decoration: none;
	color: #777777;
    transition: 0.3s;
    line-height: 40px;
}
.services a{
	text-decoration: none;
	color: #777777;
    transition: 0.3s;
    line-height: 40px;
}
.links a:hover{
	color: #55c255;
}
.links h4{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding-bottom: 12px;
}
.services h4{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding-bottom: 12px;

}
.services a:hover{
	color: #55c255;
}
.links ul li i{
	color: #55c255;
	font-size: 10px;
}
.services ul li i{
	color: #55c255;
	font-size: 10px;
}
.newsletter{
	margin-right: 20px;
}
.newsletter h4{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding-bottom: 12px;
}
.newsletter p{
	  padding-top: 20px;
	  padding-bottom: 30px;
	  font-family: 'Open Sans', sans-serif;
	  font-size: 15px;
}
.newsletter input[type=email]{
	border: 1px solid #69696930;
    padding: 4px 8px;
    border-radius: 25px;
    width: 300px;
    height: 50px;
}	  
.newsletter input[type=submit]{
	color: white;
	border: 1px solid #55c255;
	background-color: #55c255;
	border-radius: 25px;
	padding: 4px 8px;
	width: 120px;
	height: 50px;

}
.newsletter form a input[type=submit]:hover{
	background-color: green;
}
.newsletter form{
	display: flex;
}
/*.newsletter input[type=submit].relative{
	position: relative;
	top: -1px;
	bottom: -1px;
	left: -1px;
	}*/
.footer{
	background-color: #80808021;
	
}	
.copyright h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;

}
.copyright h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;

}
.copyright h3 b{
	font-weight: bolder;
}
.copyright h4 a{
	text-decoration: none;
	color: #55c255;
}
.copyright h4 a: hover{
	color: #0b710b;
}

.copyright{
	padding: 30px 0;
}
.nav-list{
	display: flex;
	justify-content: end;
	padding: 30px 0;
}
.nav-list ul li{
	display: inline-block;
	list-style: none;
}
.nav-list ul li a{
	text-decoration: none;
	color: #55c255;
	font-size: 36px;
	padding: 0 6px;
}
.nav-list .next{
	margin-left: 30px; 
	
}
.nav-list .next a{
	text-decoration: none;
	color: #55c255;
	font-size: 36px;
}
.nav-list .next a:hover{
	color: green;
}

.nav-list ul li a:hover{
    color: green;	
}

